// font hajmi

$size16: 1rem;
$size17: 1.06rem;
$size18: 1.12rem;
$size19: 1.18rem;
$size20: 1.25rem;
$sizi21: 1.31rem;
$size22: 1.75rem;
$size26: 1.62rem;
$size24: 1.5rem;
$size28: 1.62rem;
$size36: 2.25rem;
$size48: 3rem;

// colors

$color1: #000;
$color2: #7D7987;
$color3: #fff;
$color4: #458FF6;
$color5: #4089ED;
$color6: #5B9BF3;

// #458FF6

$b: 1px solid red;

