.footer {
    margin-top: 200px;
  padding: 120px 0 0;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  .container {
      display: flex;
      gap: 140px;
      justify-content: center;
    }
    &__bg-image{
      background-image: url("../../images/bg-image-3.png");
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      background-position: bottom left;
    }
  &__start {
    &__logo {
      display: flex;
      gap: 10px;
      align-items: center;
      &__text {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color3;
        border-radius: 50%;
        font-weight: bold;
        font-size: $size26;
        color: $color6;
      }
      &__logo-text {
        font-weight: bold;
        font-size: $size24;
        color: $color3;
      }
    }
    &__text {
      margin: 15px 0 30px;
      width: 344px;
      line-height: 1.55;
      color: $color3;
      opacity: 0.7;
    }

    &__text-sab {
      color: $color3;
      opacity: 0.7;
    }
  }
  &__list{
    display: flex;
    gap: 18px;
    flex-direction: column;
    &__item{
        &__title{
            font-weight: bold;
            font-size: $size20;
            color: $color3;
        }
        &__link{
            color: $color3;
            opacity: 0.7;
        }
    }
  }
}
